
body {
    font-family: 'Inter', sans-serif;
    background: #F3F5FC;
}
.container-header {
    display: flex;
    align-items: center;
   
}
.container-titulo, .container-logo {
    margin-top: 40px;
}
.container-logo {
    margin-left: 84px;
}
.container-titulo{
    display: flex;
    flex: 2;
    justify-content: start;
    margin-left: 80px;
}
.titulo {
    font-size: 40px;
    color: #0A3871;
    font-weight: bold;
    display: flex;
}
@keyframes parpadear {
    0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}
.parpadeo {
    animation: parpadear 0.7s infinite;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 50px;
}
.bloque-principal {
    display: flex;
    width: 600px;
    min-height: 700px;
    margin-right: 50px;
}
.mensaje {
    background-color: transparent;
    width: 590px;
    min-height: 550px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 32px;
    color: #0A3871;
    font-weight: 400;
    resize: none;
    overflow-y: auto;

}
textarea::placeholder {
    color: #0A3871;
}
textarea:focus {
    border-color: transparent;
    outline: none;
}

.advertencia {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
}
.botones {
    margin-top: 16px;
    display: flex;
}
.btn-encriptar {
    width: 250px;
    border: none;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background: #0A3871;
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin-right: 24px;
}
.btn-desencriptar {
    width: 250px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    
}

.botones-extra {
    margin-top: 16px;
    display: flex;
}
.btn-limpiar {
    width: 250px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background: white;
    color: #0A3871;
    font-size: 16px;
    line-height: 20px;
    margin-right: 24px;
}
.btn-pegar {
    width: 250px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background: white;
    color: #0A3871;
    font-size: 16px;
    line-height: 20px;
}

.bloque-secundario {
    display: flex;
    width: 400px;
    min-height: 766px;
    flex-direction: column;
    background: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    align-items: center;
    justify-content: center;

}
.bloque-secundario .imagen {
    max-width: max-content;
    margin-bottom: 10px;
}

.bloque-secundario h2{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-weight: 700;
    margin: 20px;
}

.bloque-secundario p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #495057;
    margin: 0 20px;

}

.bloque-resultado {
    display: none;
    width: 400px;
    height: 766px;
    flex-direction: column;
    background: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    align-items: left;
    justify-content: center;
    
}

.bloque-resultado p{
    min-height: 600px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    word-wrap: break-word;
    color: #495057;
    margin: 32px;
    overflow-y: auto;
}
.bloque-resultado form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 32px;
}

.bloque-resultado .btn-copiar {
    width: 328px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background: white;
    color: #0A3871;
    font-size: 16px;
    line-height: 20px;
}
.copia-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
#copia-check {
    display: none;
    font-size: 16px;
    color: #0A3871;
    margin: 10px 0;
}
.creditos {
    width: 1010px;
    border-radius: 24px;
    margin: 0 auto;
    background: #0A3871;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.creditos h3 {
    font-size: 16px;
    line-height: 30px;
    
    border: none;
    color: white;
    margin-right: 15px;
}
.creditos img {
    max-width: 35px;
}
.creditos .linkedin {
    padding-right: 10px;
}